<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Zaytuna Madrasa Islamic School, Maitama Abuja">
    <meta name="keywords" content="Islamiyyah Islamic School Maitama Abuja, Best Schools in Abuja">
    <meta name="author" content="Zaytuna Madrasa">

    <title>Zaytuna Madrasa</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <!-- Google Fonts and Icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine:bold|Roboto">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Zaytuna CSS -->
    <link type="text/css" rel="stylesheet" href="/css/master.css">

  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark text-center">
        <a class="navbar-brand" style="font-family: Tangerine" href="/">Zaytuna Madrasa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/admission">Admission</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/career">Career</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="https://facebook.com/zaytunamadrasa/" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Media</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="https://facebook.com/zaytunamadrasa">Facebook</a>
                <a class="dropdown-item" href="https://twitter.com/zaytunamadrasa">Twitter</a>
                <a class="dropdown-item" href="https://instagram.com/zaytunamadrasa">Instagram</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="/images/learn_arabic2.jpeg" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left text-primary">
                <h1>Learn Arabic</h1>
                <p>and speak like a native</p>
                <p><a class="btn btn-lg btn-primary" href="/admission" role="button">Sign up today</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="/images/DSC00661.JPG" alt="Second slide">
            <div class="container">
              <div class="carousel-caption text-primary">
                <h1>Excellent Teachers</h1>
                <p>Learn from the best teachers using modern curriculum and pedagogue</p>
                <p><a class="btn btn-lg btn-primary" href="/career" role="button">Career</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="/images/DSC00728.JPG" alt="Third slide">
            <div class="container">
              <div class="carousel-caption text-right text-primary">
                <h1>Learning is Fun</h1>
                <p>Conducive facility for your child's study</p>
                <p><a class="btn btn-lg btn-primary" href="/admission" role="button">Enroll</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div class="container marketing">

        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Our Vision</h4>
            </div>
            <div class="card-body">
              <h5 class="font-weight-normal py-3 px-1">To inspire children to love Islam, understand it, practice its teachings and be proud of it and to enable a safe, conducive and stimulating learning environment for our students.</h5>
              <p><a class="btn btn-lg btn-block btn-outline-primary" href="/admission" role="button">Join Us</a></p>
            </div>
          </div>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Our Mission</h4>
            </div>
            <div class="card-body">
              <h5 class="font-weight-normal py-3 px-1">To nurture the students personality towards the best moral conducts, healthy attitudes and self-discipline in accordance with the teachings of the Qur'an and Sunnah.</h5>
              <p><a class="btn btn-lg btn-block btn-outline-primary" href="/admission" role="button">Apply</a></p>
            </div>
          </div>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Our School</h4>
            </div>
            <div class="card-body">
              <h5 class="font-weight-normal py-3 px-1">
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Conducive Classrooms</li>
                  <li>World-class Curriculum</li>
                  <li>Learned Teachers</li>
                  <li>Safe Learning Environ</li>
                  <li>Well-trained caregivers</li>
                  <li>Focused Administrators</li>
                </ul>
              </h5>
              <p><a class="btn btn-lg btn-block btn-outline-primary" href="/career" role="button">Become a Staff</a></p>
            </div>
          </div>
        </div>


        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Islamiyyah Section. <h4 class="text-muted">Learn the Glorious Qur'an, it's Exegesis and develop a solid understanding of the deen.</h4></h2>
            <p class="lead">These are held from 8:30am to 1:30pm on both Saturdays and Sundays and by 4:00pm to 6:00pm on Mondays, Tuesdays and Wednesdays.</p>
          </div>
          <div class="col-md-5 text-center">
            <img class="featurette-image img-fluid mx-auto rounded"  src="/images/islamiyyahSection.jpg" alt="Islamiyyah image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Hifzh/Weekend Section. <h4 class="text-muted">Memorise the Glorious Qur'an while studying the deen.</h4></h2>
            <p class="lead">The Weekend Section entails memorising the Glorious Qur'an, learning Tajweed and studying some Islamic Subjects. It runs from 8:30am to 2:20pm on both Saturdays and Sundays.</p>
          </div>
          <div class="col-md-5 order-md-1 text-center">
            <img class="featurette-image img-fluid mx-auto rounded" src="/images/hifzhSection.jpg" alt="Hifzh image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Women Islamiyyah. <h4 class="text-muted">Special classes for the women in our society to learn and study conveniently.</h4></h2>
            <p class="lead">This section is especially designed for the women in our society to learn about the Glorious Qur'an and develop the knowledge of the deen. The classes are on Mondays, Tuesdays and Wednesdays from 11:00am to 1:00pm</p>
          </div>
          <div class="col-md-5 text-center">
            <img class="featurette-image rounded img-fluid mx-auto" src="/images/womenIslamiyyah.jpg" alt="Women Islamiyyah">
          </div>
        </div>

      </div>

      <!-- FOOTER -->

      <footer class="container pt-4 my-md-5 pt-md-5 border-top ">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="/images/logo.png" alt="zaytunaLogo" width="42" height="42">
            <small class="d-block mb-3 text-muted">&copy; 2017-2018 Zaytuna Madrasa.</small>

          </div>
          <div class="col-6 col-md">
            <h5>Contact</h5>
            <ul class="list-unstyled text-small text-muted">
                <li>No. 3, Volta Street</li>
                <li>Minister's Hill</li>
                <li>Maitama, Abuja</li>
                <li>+234(0)8064612333</li>
                <li><a href="mailto:salam@zaytunamadrasa.com?subject=feedback">salam@zaytunamadrasa.com</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://facebook.com/zaytunamadrasa">Facebook</a></li>
              <li><a class="text-muted" href="https://twitter.com/zaytunamadrasa">Twitter</a></li>
              <li><a class="text-muted" href="https://instagram.com/zaytunamadrasa">Instagram</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Join Us</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="/admission">Admission</a></li>
              <li><a class="text-muted" href="/career">Careers</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </main>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>
